{% extends "base.html" %}
{% load i18n %}
{% load form_tags %}

{% block content %}
      <form id="login_form" action="{{ request.get_full_path }}" method="post" class="well" >
            <h2>{% trans 'Log In' %}</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <button name="login_submit" type="submit" value="Log In" class="btn btn-large btn-primary js-disable-on-click" data-loading-text="{% trans "Logging in..." %}">{% trans 'Log In' %}</button>
       </form>
{% endblock %}