{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col col-md-8 pull-right">
            <form id="create_race_form" action="{{ request.get_full_path }}" method="post" >
            {% csrf_token %}
             <h2>{% trans 'Create SubRace' %}</h2>
            {% include "partials/form_fields.html" %}
            <button name="create_subrace_submit" type="submit" value="Create SubRace" class="btn btn-large btn-primary" >{% trans 'Create SubRace' %}</button>
       </form>
        </div>
    </div>

{% endblock %}