{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col col-md-8 pull-right">
            <form id="create_book_form" action="{{ request.get_full_path }}" method="post" >
            <h2>{% trans 'Create Book' %}</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <button name="add_book_owner" type="submit" value="add_book_owner" class="btn btn-sm btn-primary" >{% trans 'Add Book Owner' %}</button>
            <br/>
            <br/>
            <button name="create_submit" type="submit" value="create_book" class="btn btn-large btn-primary" >{% trans 'Create Book' %}</button>


            </form>

        </div>
    </div>

{% endblock %}