{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="row">
        <div class="col col-md-8 pull-right">
            <form id="edit_card_form" action="{{ request.get_full_path }}" method="post" >
            <h2>{% trans 'Edit Card' %}</h2>
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            {% if eptitudes %}
            {% include "partials/eptitude_list.html" %}
            {% endif %}
            <button name="create_eptitude" type="submit" value="create_eptitude" class="btn btn-group-sm btn-primary" >{% trans 'Create Eptitude' %}</button>
            <button name="create_race" type="submit" value="create_race" class="btn btn-group-sm btn-primary" >{% trans 'Create Race' %}</button>
            <button name="create_subrace" type="submit" value="create_subrace" class="btn btn-group-sm btn-primary" >{% trans 'Create Subrace' %}</button>
            <button name="edit_submit" type="submit" value="Edit Card" class="btn btn-large btn-primary" >{% trans 'Edit Card' %}</button>
            <a href="{% url "cards_list" %}">отмена</a>
        </form>
        <br/>

        </div>
    </div>

{% endblock %}